<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sju18001.petmanagement">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetManagement">
        <activity
            android:name=".ui.map.review.createUpdateReview.CreateUpdateReviewActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".ui.map.review.ReviewActivity"
            android:exported="false" />

        <receiver
            android:name=".controller.AlarmBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.community.post.postGeneralFile.PostGeneralFileActivity"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity android:name=".ui.community.follow.FollowActivity" />
        <activity android:name=".ui.community.comment.updateComment.UpdateCommentActivity" />
        <activity android:name=".ui.community.comment.CommentActivity" />
        <activity android:name=".ui.community.post.createUpdatePost.CreateUpdatePostActivity" />
        <activity android:name=".ui.welcome.WelcomeActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="fc8b31553a5077fdddb778cdda5b0d41" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/app_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/pumpkin" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9237425142919075~4012159360"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.sju18001.petmanagement.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".ui.myPet.petScheduleManager.createUpdatePetSchedule.CreateUpdatePetScheduleActivity" />
        <activity android:name=".ui.myPet.petManager.petProfile.CreateUpdatePetActivity" />
        <activity android:name=".ui.myPet.petManager.petProfile.PetProfileActivity" />
        <activity android:name=".ui.setting.SettingActivity" />
        <activity android:name=".MainActivity" />

        <service
            android:name=".controller.firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>